body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

button {
    text-transform: uppercase;
}

/* CLASSES */
.container {
    margin-top : 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    justify-content: center;
    background-color: ghostwhite;
}

.icon {
    color: red;
}

.currentScore {
    background-color: red;
    width: 50%;
    padding: 5px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.row {
    align-content: center;
}
 
/* ID */
